

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    background-color: cyan;

}

div {
    background-color: rgb(231, 225, 209);
}
.recipe {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: rgb(6, 19, 82);
    color: cornsilk;
}

a:active {
    color: rgb(243, 235, 235);
    background-color: rgb(6, 19, 82);
}
a:visited {
    color:rgb(146, 195, 241);
    background-color: rgb(6, 19, 82);
}
